
body{
    background-color: rgb(53, 33, 71);
}
.navbar {

    margin-left: .2%;
}
.container{
    margin-top: 1.8%;

}
.container-1{
    margin-top: 1.8%;

}
.text1{
    color: blueviolet;


}
.form-floating{

    height: 105px;

    width: 70%;
}

.fade-in-text {
    font-family: Arial;
    font-size: 60px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }

.menu {
    margin-left: 3%;
}
.menu li {
list-style: none;
display: inline-flex;
margin: 7%;

}
.col h1,p{
text-align: center;

}
.lifty h2{
    margin-left: 3%;
    color: yellow;
}

