

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Anek+Malayalam:wght@300&family=Architects+Daughter&family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=Kanit:ital,wght@1,200&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,900;1,500&family=Source+Code+Pro:ital,wght@1,900&display=swap');
li{
    list-style: none;
}
ul li a{
    padding:0%;
    margin:0%;
    text-decoration: none;

    box-sizing: border-box;
}
body{
    font-family: "Architects",sans-serif;
}

header{
    width: 100%;
    height: 80vh;
    background-image: url("https://mdbcdn.b-cdn.net/img/new/fluid/city/055.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
}
nav{

    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.bar-btn{
    font-size:25px;
    color:#fff;
    margin-right:20px;
    cursor: pointer;

}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top:100px;
    background-color: rgb(0, 0, .99);
    text-align: center;
    transition: all .5s;
}
.nav-menu li{
    display:none;
    line-height: 30px;
    margin: 50px;
    
    transition: all .5s;
}
.nav-menu li a{
    color:#fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;

}
.nav-menu li a.active,.nav-menu li a:hover{
    color:rgb(231, 29, 29);
    transition: .3s;
}
#check{
    display: none;
}
#check:checked ~ .nav-menu{
    height: 100vh;
}
#check:checked ~ .nav-menu li{

display: block;
}
.banner-text{
    padding:0 30px;
    margin-top: 50px;
    text-align: center;
    color: #fff;
}
.banner-text h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.banner-text span{
    color: rgb(223, 37, 37);
    font-size: 45px;

}
.banner-text h2{
    font-size:20px;
    font-weight: 600;
}
.button1{
    margin-right: 40px;
    padding: 10px 30px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;

}
.button1:hover{
    background-color: #fff;
    color:rgb(223, 37, 37);
    transition: .5s ;
}
.section1{
    background-color:rgba(247, 247, 247, 0.986);

    width: 100%;
    height: 440px;
    margin: 0%;
    padding:0%

}
.container{
}
.container1 {
   

    float:left ;
    margin-top: 4%;

    margin: 4%;
    width: 25%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 230px;
padding-top: 20px;


}
.container2{
  
    float: left;
    margin-top: 4%;
    margin: 4%;
    width: 25%;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 230px;
padding-top: 20px;
}

.container3{

float: left;
margin-top: 6%;
margin: 4%;
width: 25%;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
height: 230px;
padding-top: 20px;


}

.card-center{
    background-color:rgba(247, 247, 247, 0.986);
    margin: 0px;
    padding: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
}
.card-center .card{
    position:relative;
    width: 200px;
    height: 350px;
    margin:50px;
    box-shadow: rgb(136, 152, 207);
    border-radius: 15px;
    background: linear-gradient(-45deg, #ffce51,#ff7253,#f65754);
    background-image: url(/assets/img/destino.png);
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(178, 181, 189);
    border-left:1px solid rgb(136, 152, 207);

}
.card-center .card .content{
    padding: 25px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: .5s;
 
}
.card-center .card:hover .content{
    transform: translateY(0px);
    opacity:1;

}
.card-center .card .content h2{
    position: absolute;
  top: -80px;
    right: 30px;
    color: #fff;
    font-size: 55px;
    font-weight: 300;


}
.card-center .card .content h3{
    font-size: 25px;
     color:#fff;
    


}
.card-center .card .content a{
    position:relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 25px;
    background: rgb(40, 105, 202);
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 600;

}